@page "/access-denied"
@model Relos.Web.Components.Pages.AccessDenied

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <p>Access Denied</p>
</div>
</body>
</html>