<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/login"/>
    <link rel="stylesheet" href="@Assets["app.css"]"/>
    <link rel="stylesheet" href="@Assets["Relos.Web.styles.css"]"/>
    <RadzenTheme Theme="material" @rendermode="InteractiveAuto" />
    <ImportMap/>
    <HeadOutlet/>
</head>

<body>
@* https://stackoverflow.com/questions/78904583/radzen-blazor-sidebar-expanded-doesnt-work *@
<Routes @rendermode="InteractiveServer"/>
<script src="_framework/blazor.web.js"></script>
<script src="_content/Radzen.Blazor/Radzen.Blazor.js?v=@(typeof(Radzen.Colors).Assembly.GetName().Version)"></script>
</body>

</html>