<RadzenHeader>
    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
        <RadzenSidebarToggle Click="@(() => sidebarExpanded = !sidebarExpanded)" />
        <RadzenLabel Text="Your App Name" />
    </RadzenStack>
</RadzenHeader>

<RadzenSidebar Responsive="false" @bind-Expanded="@sidebarExpanded" style="position: absolute; z-index: 3">
    <RadzenStack AlignItems="AlignItems.End" class="rz-p-2">
        <RadzenButton Icon="west" Variant="Variant.Text" ButtonStyle="ButtonStyle.Secondary" Click="@(() => sidebarExpanded = false)" />
    </RadzenStack>
    <RadzenPanelMenu>
        <RadzenPanelMenuItem Text="Inbox" Icon="home" Path="/inbox" />
        <RadzenPanelMenuItem Text="Timeline" Icon="folder" Path="/timeline" />
        <RadzenPanelMenuItem Text="Database" Icon="folder" Path="/database" />
        <RadzenPanelMenuItem Text="Client" Icon="account_box" Path="/clients" />
    </RadzenPanelMenu>
    <div class="rz-p-4">
        Sidebar
    </div>
</RadzenSidebar>

@if (sidebarExpanded)
{
    <div @onclick="@(() => sidebarExpanded = false)" class="rz-dialog-mask" style="position: absolute; z-index: 2">
    </div>
}

@code {
    bool sidebarExpanded = false;
}