@page "/Contacts"
<h3>Contacts</h3>

<RadzenStack>
    <RadzenStack Orientation="Orientation.Vertical">
        <RadzenButton/>
    </RadzenStack>
</RadzenStack>


@code {

    private async Task OpenCreateNewContactDialog()
    {
        
    }
    
}